@using Microsoft.AspNetCore.Http;

@model ProjectManager.Models.Projects
@{
    ViewData["Title"] = "Details";

    if (Context.Session.GetString("UserId") == null)
    {
        Context.Response.Redirect("/Login/SignIn");
    }
}
<h2>Details</h2>
<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayName(Convert.ToString((ProjectStatus)Model.Status))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Projects" id="add" asp-action="AddEmployee" asp-route-id="@Model.ProjectId">Add employee</a> <span>|</span>
    <a asp-controller="Projects" asp-action="Employees" asp-route-id="@Model.ProjectId">Employees</a> |
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ProjectId">Delete</a>
</div>

<script>
    //If current projects status is done, hide "Add employee route"
    if (@Model.Status==3) {
        $("#add").hide();
        $("div>span").hide();
    }
</script>
